/* image container for category */

.Imagecontainer {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.Imagecontainer img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.Imagecontainer .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.Imagecontainer .btn:hover {
  background-color: black;
}
/* image container for category */